<h1 class="pb-4">랜덤 추천 게임</h1>
<!-- 랜덤 -->

<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    <% if(game != '') { %>
        <a href="/game/<%- game._id %>" class="col text-center category__link">
            <div class="category__img category__img--large shadow">
                <img src="uploads/<%- game.image %>" alt="<%- game.name %>" loading="lazy">
            </div>
            <div class="pt-1"><%- game.name %></div>
        </a>
    <% } else {%>
        <p>올라온 게시글이 없습니다.</p>
    <% } %>
</div>