:root {
    --bs-font-sans-serif: 'Rubik', 'Do hyeon', sans-serif; 
}
/* 한글과 영어 폰트 설정 */

.container-xxl { max-width: 1530px; }

body{
    background-image: url("/img/pat.jpg");
    background-color: rgb(243,243,243);
}

a { color: var(--bs-dark);}

/* Category Card */
.category__link {
    text-align: center;
    display: block;
    text-decoration: none;
    transition: 250ms all;
}

.category__link:hover {
    transform: scale(1.1);
}

.category__img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-bottom: 10px;
    box-shadow: 0px 3px 6px rgba(0,0,0,.16);
    overflow: hidden;
    border-radius: 8px;
}

.category__img--large {
    height: 330px;
}

.category__img img {
    width: 100%;
    object-fit: cover;
}

#sc1 {
    border-radius: 10px 0px 0px 10px;
}
  
#sc2 {
    border-radius: 0px 10px 10px 0px;
}


.mainimage {
    position:relative;
}
  
.maintext {
    position:absolute;
    text-align: center;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
